.burgerdiv{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

}

@media(min-width: 500px){
    .burgerdiv{
        width:350px;
        height:300px;
    }
}